*{
    margin: 0;
    padding: 0;
    
}

body{
    padding: 20px;
    /* background-image: url(images/bg1.jpg); */
    /* background-size: cover;
    background-attachment: fixed; */
    /* font-size:16px; */
    /* font-family: Arial, Helvetica, sans-serif; */
    background-color: rgb(212 212 216);
   
}

.row{
    display: flex;
    justify-content: center;
}

.row>div{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: #fff;
    margin: 20px;
    width: 300px;
    padding: 15px;
    box-shadow: 4px 3px 14px black;
    border-radius: 2px;
}

audio,iframe,input[type="file"],select,input{
    width: 160px;
}
option,select{
    width: 100px;
}

ol,ul{
    padding: 10px;
}
body{
    display: flex;
    flex-direction: column;
}
#top{
    flex-grow: 0;
    
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    background-color: black;
    color:white;
    padding: 15px;    
}

.title-row > div{
    padding: 0;
}

.navigation-btn{
    width: 200px;
    padding: 10px 0;
    background-color: black;
    color:white;
    font-weight: bold;
    font-size: medium;
    border-radius: 14px;
    cursor: pointer;
}

.navigation-btn>a{
    all:unset;
}

.inner-row{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
  
}

.inner-row>div{
    display: flex;
}

.inner-row>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
}



#top-btn{
    align-self: center;
}

.heading{
    padding-left: 34vw;
    justify-content: space-between;
    margin-right: 20px;
}

.footing{
    justify-content: end;
    margin-right: 20px;
}