.container{
    display: flex;
    width: 100%;
    height: 100%;
    
    justify-content: center;
    align-content: center;
    flex-direction: column;
   
}

body{
    font-size: large;
    height: 100vh;
    width: 100vw;

}

.container>div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container1{
    background-color: rgb(228, 50, 50);
}
.container2{
    background-color: rgb(71, 230, 71);
}

.container3{
    background-color: yellow;
}

.container4{
    background-color: skyblue;
}

.container5{
    background-color:rgb(228, 52, 228);
}

.container6{
    background-color: rgb(196, 75, 75);
}